.navigation-card {
    background-image: url("field.jpg");
    background-repeat: no-repeat;
    background-position: 50% ;
    background-size: 500px;
}

h1 {
    font-family: Sans-serif, Times, Serif, serif;
    font-size: 40px;
    font-weight: bold;
    font-variant: all-petite-caps;
    color: orangered;
    text-align: center;
}

body {
    height: 2000px;
    background: url("field.jpg") no-repeat;
    background-attachment: fixed;
    border: 1px solid black;
}
p {
    font-family: Sans-serif, Times, Serif, serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}
html {
     text-align: center;
 }
table {
    text-align: center;
    font-family: sans-serif;
}
.section-header {
    text-align: center;
}
a {
    font-family: sans-serif;
    color: red;
    font-weight: bold;
}
a:hover {
    color: aqua;
}
#tables {
    text-align: center;
}
#lists {
    background-color: #e5e5e5;
    background-position: 10% 70%;
}
h2 {
    font-family: Sans-serif, Times, Serif, serif;
    font-weight: bold;
    font-variant: all-petite-caps;
    color: red;
    text-align: center;
}
li {
    text-align: center;
}